dist/
windows-native.zip
data/
logs/
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
TestResults/
*.nupkg
*.snupkg
.DS_Store
shared-dotnet/**/bin/
shared-dotnet/**/obj/
windows-wpf/**/bin/
windows-wpf/**/obj/
windows-wpf/.vs/
